@font-face {
  font-family: nineteenth;
  src: url("../../assets/fonts/nineteenth.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: avertademo;
  src: url("../../assets/fonts/AvertaDemo-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: segoeprint;
  src: url("../../assets/fonts/segoeprint.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: agashifont;
  src: url("../../assets/fonts/agashifont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: segoelight;
  src: url("../../assets/fonts/SegoeLight.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: pioneer10;
  src: url("../../assets/fonts/Pioneer10.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
